.search{
    display: flex;
    background-color: rgb(242, 231, 231);
    height: 35px;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 30px;
    
}

input {
    background-color: rgb(242, 231, 231);
    height: 40px;
    height: 20px;
    width: 1100px;
    border: none;
}
.search input:focus{
    outline: none;
}

.material-icons{
    margin-left: 4px;
}
